/**********CSS预设样式**********/
* {
	/*清除页面中标签自带的外间距和内填充*/
	margin: 0;
	padding: 0;
}

ul,
li {
	/*清除ul自带的列表符*/
	list-style: none;
}

a {
	/*去掉a自带的下划线*/
	text-decoration: none;
}

img {
	/*去掉img自带的边框<当图像加上a标签后，IE浏览器在不去除图像边框时会显示边框>*/
	border: none;
}

html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	position: relative;
}

#app {
	height: 100%;
	width: 100%;
}

page {
	height: 100%;
}

.content {
	padding: 32rpx;
	margin-top: 88rpx;
}
